# Pandas 모듈

* 리스트. 튜플, 딕셔너리 자료구조를 사용하기 편리하고 데이터를 다루는데 효과적임
> * 설치 : <pre><cod>pip install pandas</code></pre> 
> * 설치 모듈 확인 : <pre><code>import pandas as pd  </code></pre>

In [1]:
from pandas import Series, DataFrame

* Pandas 자료구조 
> * _Series_ : 1차원 데이터 다루기 효과적인 자료구조
> * _DataFrame_ : 2차원 데이터 다루는데 효과적인 자료구조

* Series 선언 및 데이터 접근

In [2]:
# Series 선언 
series1 = Series([10,20,30,40])
print (series1)

0    10
1    20
2    30
3    40
dtype: int64

In [3]:
# Series 데이터 접근
print (series1[0])
print ()
print (series1[:2])
print ()
print (series1[:])

10

0    10
1    20
dtype: int64

0    10
1    20
2    30
3    40
dtype: int64

* Series 인덱스 지정 및 인덱스로 데이터 접근

In [4]:
# 인덱스 지정
series2 = Series([90,95,85,100], index =['국어','영어','수학','과학'])
print (series2)
print ()

# 인덱스로 데이터 접근 
print (series2['영어'])

국어     90
영어     95
수학     85
과학    100
dtype: int64

95

* DataFrame 선언 및 데이터 접근

In [5]:
# DataFrame 선언 
raw_data = {'personA': [100, 99, 98, 97],
            'personB': [95, 90, 85, 80],
            'personC': [70, 80, 90, 100]}

data = DataFrame(raw_data, index = ['국어','영어','수학','과학'])
print(data)
print ()
data

    personA  personB  personC
국어      100       95       70
영어       99       90       80
수학       98       85       90
과학       97       80      100

    personA  personB  personC
국어      100       95       70
영어       99       90       80
수학       98       85       90
과학       97       80      100

In [6]:
# 데이터 접근 
print (data.personA['국어'])
print ()
print (data['personB'])
print ()
print (data['personC']['수학'])

100

국어    95
영어    90
수학    85
과학    80
Name: personB, dtype: int64

90